
.rtc-dev{
    display: flex;
    height: 100%;
    position: fixed;
    right: 0;
    left: 0;
    align-items: center;
    .btn-div{
        width: 100%;
        text-align: center;
        button{
            width: 100px;
            height: 100px;
            border-radius: 100px;
            outline: none;
            border: none;
            cursor: pointer;
            background-color: #ff7267;
        }
    }
    audio{
        outline: none;
    }
}